body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1 {
    font-size: 2em;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: solid 3px;
    border-collapse: collapse;
    font-size: 1.5em;
}

th {
    border: solid 1px;
    padding: 0.3em;
}

td {
    border: solid 1px;
    padding: 0.5em;
}
